<style>
</style>

<body style="width:<%= (@panels.length)*100 %>px">
<% @panels.reverse.each do |panel| %><img src="<%= panel.image_data %>" /><% end %>

<script>
setTimeout(function() { window.location.reload() },1500)
</script>

</body>
