<body onload="Scrolls.initialize()">
	<script>
		Page = {
			width: 1000,
			scroll_id: <%= @scroll.id %>,
		<% if @scroll.panels.length > 0 %>
			latest_panel: <%= @scroll.panels.last.id %>
		<% else %>
			latest_panel: 0
		<% end %>
		}
	</script>
	<style>
		html {background:#000;}
		body {margin:0;}
		#canvas {background:#fff;width:1000px;height:500px;}
		#cursor {background:red;width:10px;height:10px;position:absolute;}
	</style>

	<div id="cursor"></div>

	<canvas id="canvas" width="1024" height="768"></canvas>

</body>
