<!DOCTYPE html>
<html>
<head>
  <title>Scrolls</title>
  <%= stylesheet_link_tag :all %>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery.js"></script>
  <script language="javascript" type="text/javascript" src="/javascripts/scrolls.js"></script>
  <!-- http://code.google.com/p/todataurl-png-js/ -->
  <!-- todataurl-png-js is distributed under the GNU Affero General Public License, version 3 license -->
  <script language="javascript" type="text/javascript" src="/javascripts/todataurl.js"></script>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
</head>

<body>
<%= yield %>
</body>
</html>
