<!DOCTYPE html>
<html>
<head>
  <title>Scrolls</title>
  <%= stylesheet_link_tag :all %>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery.js"></script>
  <script language="javascript" type="text/javascript" src="/javascripts/scrolls.js"></script>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
</head>

<%= yield %>

</html>
