<!DOCTYPE html>
<html>
<head>
  <title>Scrolls</title>
  <%= stylesheet_link_tag :all %>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery.js"></script>
  <script language="javascript" type="text/javascript" src="/javascripts/scrolls.js"></script>
  <%= csrf_meta_tag %>
</head>

<%= yield %>

</html>
